In [1]:
import pandas as pd

# Loading data and dropping null values

In [2]:
actors = pd.read_csv("actors.csv")
actors.head()

          kdrama_name          actor
0  100 Days My Prince  Doh Kyung Soo
1  100 Days My Prince    Nam Ji Hyun
2  100 Days My Prince    Kim Seon Ho
3  100 Days My Prince     Han So Hee
4  100 Days My Prince     Jo Sung Ha

In [3]:
actors.dropna(inplace=True)

In [4]:
networks = pd.read_csv("networks.csv")
networks.head()

            kdrama_name original_networks
0    100 Days My Prince               tvN
1      12 Signs of Love               tvN
2      12 Years Promise              jTBC
3              18 Again              jTBC
4  365: Repeat the Year               MBC

In [5]:
networks.isna().value_counts()

kdrama_name  original_networks
False        False                1424
             True                   28
dtype: int64

In [6]:
networks.dropna(inplace=True)

In [7]:
genres = pd.read_csv('genres.csv')
genres.head()

          kdrama_name       genre
0  100 Days My Prince  historical
1  100 Days My Prince      comedy
2  100 Days My Prince     romance
3  100 Days My Prince       drama
4    12 Signs of Love      comedy

In [8]:
genres.dropna(inplace=True)

In [9]:
platforms = pd.read_csv('platforms.csv')
platforms.head()

          kdrama_name   platform
0  100 Days My Prince       WeTV
1  100 Days My Prince    Netflix
2  100 Days My Prince     KDRAMA
3  100 Days My Prince   Apple TV
4  100 Days My Prince       Viki

In [10]:
platforms.dropna(inplace=True)

In [11]:
tags = pd.read_csv('tags.csv')
tags.head()

          kdrama_name                      tags
0  100 Days My Prince                   amnesia
1  100 Days My Prince           hidden identity
2  100 Days My Prince   marriage of convenience
3  100 Days My Prince            joseon dynasty
4  100 Days My Prince             fake marriage

In [12]:
tags.dropna(inplace=True)

# Merging data
Using inner join to merge actors, networks, genres, platforms, tags and episode length.

In [13]:
overall = pd.read_csv('main_descriptors.csv')
episode_length = overall[['Kdrama_name','Episodes']].copy()
episode_length.rename({'Kdrama_name':'kdrama_name', "Episodes": "episodes"},axis=1,inplace=True)

In [14]:
drama = actors \
.merge(networks, on="kdrama_name") \
.merge(genres, on="kdrama_name") \
.merge(platforms, on="kdrama_name") \
.merge(tags, on="kdrama_name") \
.merge(episode_length, on="kdrama_name")

In [15]:
# stripping trailing and leading spaces from columns
drama[['kdrama_name', 'actor', 'original_networks', 'genre', 'platform','tags']] = \
drama[['kdrama_name', 'actor', 'original_networks', 'genre', 'platform',
       'tags']].apply(lambda column: column.str.strip())

In [16]:
drama.to_csv("drama.csv", index=False)

In [18]:
drama.platform.unique()

array(['WeTV', 'Netflix', 'KDRAMA', 'Apple TV', 'Viki', 'LDF',
       'Lululala Story Lab', 'Kakao TV', 'KBS World', 'Prime Video',
       'AsianCrush', 'PlayList Global', 'Disney', 'Disney Hotstar',
       'SBS World', 'TVING', 'Wavve', 'Tubi', 'iflix', 'Hulu',
       'KBS Drama Classic', 'SBS VOD', 'LINE TV', 'iWant TFC',
       'China Huace TV', 'KOK TV', 'Tooniverse', 'KBS Drama', ''],
      dtype=object)